.btnedit{
	margin: 10px;
}
.formfeed {
    background: transparent;
    border: none;
    border-bottom: 1px solid #d0c8c3;
    width:80%;
    outline:none;
    box-shadow:none;
    text-align:left; ;
    font-size: 20px;
    margin: 20px;
}
input:focus::placeholder {
  color: transparent;
}